<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php">
    <coverage>
        <include>
            <directory>../src/Cloth</directory>
        </include>
        <exclude>
            <file>../src/Cloth/Option.php</file>
            <file>../src/Cloth/ParseException.php</file>
        </exclude>
    </coverage>
</phpunit>
